<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="social fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="social fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/aditya-kumar-936236250/"><i class="social fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy; On Your Own Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>